In [1]:
pip install geopandas

Requirement already satisfied: geopandas in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: fiona>=1.8 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.8.22)
Requirement already satisfied: packaging in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (21.0)
Requirement already satisfied: shapely<2,>=1.7 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pyproj>=2.6.1.post1 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (3.4.0)
Requirement already satisfied: pandas>=1.0.0 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.3.4)
Requirement already satisfied: click-plugins>=1.0 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: setuptools in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (58.0.4)
Requirement already satisfied: munch in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.0.3)
Requirement already satisfied: attrs>=17 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: cligj>=0.5 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (1.20.3)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/riddhi/opt/anaconda3/lib/python3.9/site-packages (from packaging->geopandas) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas
import os

In [3]:
import pandas_datareader as web   
from pandas_datareader import wb

In [4]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

df = wb.download(indicator= 'NY.GDP.MKTP.CD', country= 'all', start=2000, end=2000).reset_index()
df.head()
df1 = wb.download(indicator='EN.POP.DNST', country='all', start=2000, end=2000).reset_index()
df1.head()

In [5]:
def country_data(year):
    df_gdp = wb.download(indicator= ['NY.GDP.MKTP.CD', 'EN.POP.DNST'], country = 'all', start ='2000', end = '2010'). reset_index()
    df_gdp = df_gdp.rename(columns ={'country': 'name', 'NY.GDP.MKTP.CD': 'gdp', 'EN.POP.DNST': 'population estimate'})
    return df_gdp
df1 = country_data('2000')
df1.head()

                          name  year           gdp  population estimate
0  Africa Eastern and Southern  2010  8.604783e+11            35.219737
1  Africa Eastern and Southern  2009  7.192167e+11            34.279582
2  Africa Eastern and Southern  2008  7.082869e+11            33.367205
3  Africa Eastern and Southern  2007  6.611793e+11            32.483559
4  Africa Eastern and Southern  2006  5.759214e+11            31.628679

fig, ax = plt.subplots(figsize=(8,8))

    
ax = country_data.plot(ax=ax, column='gdp', legend=True)

ax.axis('off')
ax.set_title('S');

In [6]:
merged_df = world.merge(df1, on =['name'], how ='outer')
merged_df

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,year,gdp,population estimate
0,889953.0,Oceania,Fiji,FJI,5496.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2010,3.140509e+09,47.061631
1,889953.0,Oceania,Fiji,FJI,5496.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2009,2.870625e+09,46.723372
2,889953.0,Oceania,Fiji,FJI,5496.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2008,3.523186e+09,46.270170
3,889953.0,Oceania,Fiji,FJI,5496.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2007,3.378315e+09,45.768199
4,889953.0,Oceania,Fiji,FJI,5496.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",2006,3.076305e+09,45.313027
...,...,...,...,...,...,...,...,...,...
2955,NaN,NaN,"Yemen, Rep.",NaN,NaN,None,2004,1.387279e+10,37.009860
2956,NaN,NaN,"Yemen, Rep.",NaN,NaN,None,2003,1.177797e+10,35.958484
2957,NaN,NaN,"Yemen, Rep.",NaN,NaN,None,2002,1.069463e+10,34.933205
2958,NaN,NaN,"Yemen, Rep.",NaN,NaN,None,2001,9.861560e+09,33.938233
2959,NaN,NaN,"Yemen, Rep.",NaN,NaN,None,2000,9.652436e+09,32.973599

In [7]:
Variable = ['gdp','population estimate']
country_reshaped = merged_df.melt(id_vars=['name', 'year','iso_a3', 'gdp_md_est', 'geometry','pop_est','continent'], var_name='Indicator', value_name= 'Variable')
Africa = country_reshaped[country_reshaped.continent =='Africa']
Africa['name'].unique()

array(['Tanzania', 'W. Sahara', 'Dem. Rep. Congo', 'Somalia', 'Kenya',
       'Sudan', 'Chad', 'South Africa', 'Lesotho', 'Zimbabwe', 'Botswana',
       'Namibia', 'Senegal', 'Mali', 'Mauritania', 'Benin', 'Niger',
       'Nigeria', 'Cameroon', 'Togo', 'Ghana', "Côte d'Ivoire", 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Sierra Leone', 'Burkina Faso',
       'Central African Rep.', 'Congo', 'Gabon', 'Eq. Guinea', 'Zambia',
       'Malawi', 'Mozambique', 'eSwatini', 'Angola', 'Burundi',
       'Madagascar', 'Gambia', 'Tunisia', 'Algeria', 'Eritrea', 'Morocco',
       'Egypt', 'Libya', 'Ethiopia', 'Djibouti', 'Somaliland', 'Uganda',
       'Rwanda', 'S. Sudan'], dtype=object)

In [8]:
#Africa
#Africa['year'].unique()
import numpy as np

Africa = Africa.replace(np.nan, 0)

#Africa.dropna(how = 'all')


#Africa['Variable'] = Africa['Variable'].apply(pd.to_numeric, errors='coerce')

In [9]:
Africa

,name,year,iso_a3,gdp_md_est,geometry,pop_est,continent,Indicator,Variable
11,Tanzania,2010,TZA,63177.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",58005463.0,Africa,gdp,3.201425e+10
12,Tanzania,2009,TZA,63177.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",58005463.0,Africa,gdp,2.908143e+10
13,Tanzania,2008,TZA,63177.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",58005463.0,Africa,gdp,2.794118e+10
14,Tanzania,2007,TZA,63177.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",58005463.0,Africa,gdp,2.184353e+10
15,Tanzania,2006,TZA,63177.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",58005463.0,Africa,gdp,1.864959e+10
...,...,...,...,...,...,...,...,...,...
4506,Rwanda,2003,RWA,10354.0,"POLYGON ((30.41910 -1.13466, 30.81613 -1.69891...",12626950.0,Africa,population estimate,3.468650e+02
4507,Rwanda,2002,RWA,10354.0,"POLYGON ((30.41910 -1.13466, 30.81613 -1.69891...",12626950.0,Africa,population estimate,3.415914e+02
4508,Rwanda,2001,RWA,10354.0,"POLYGON ((30.41910 -1.13466, 30.81613 -1.69891...",12626950.0,Africa,population estimate,3.336502e+02
4509,Rwanda,2000,RWA,10354.0,"POLYGON ((30.41910 -1.13466, 30.81613 -1.69891...",12626950.0,Africa,population estimate,3.215925e+02
4566,S. Sudan,0,SSD,11998.0,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",11062113.0,Africa,population estimate,0.000000e+00

In [10]:
from ipywidgets import Dropdown
from ipywidgets import interact

In [11]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas
import os

In [13]:
country_names = ['Tanzania', 'Botswana']
Indicator = Africa['Indicator'].unique()
Year = Africa['year'].unique()

from matplotlib.colors import Normalize
from mpl_toolkits.axes_grid1 import make_axes_locatable




def plot_country(country_names, Indicator, Year):
    #function from above, but without the color generator
    plot = fig, ax = plt.subplots(1)
    #norm = Normalize(vmin = min(Africa[Africa['Indicator']== Indicator]['Variable']), vmax = max(Africa[Africa['Indicator']== Indicator]['Variable']))
    from mpl_toolkits.axes_grid1 import make_axes_locatable
    divider = make_axes_locatable(ax)
    cax = divider.append_axes('right', size='5%', pad=0.1)
    Africa.plot(ax=ax, column='Variable', edgecolor = 'black', legend = True, color = 'white')

    ax = Africa[Africa.name == country_names].plot(ax=ax, cax=cax, column='Variable', legend=True, lw=1, edgecolor = 'black')

   
    ax.axis('off');
    #return plot
    
@interact(name=country_names, Indicator = Indicator, Year =Year)

def make_plot_for(name=country_names, Indicator = Indicator, Year = Year):
    plot = plot_country( name , Indicator, Year)

interactive(children=(Dropdown(description='name', options=('Tanzania', 'Botswana'), value='Tanzania'), Dropdo…